* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

#image {
  max-width: 80vw;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.social {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
}

.social > a {
  text-decoration: none;
  color: white;
}
